<%- include('../partials/browseHeader') %>

<section id="show-page">
  <div>Name: </div>
  <div><%= workout.name %></div>
  <div>Hand position: </div>
  <div><%= workout.grip %></div>
  <div>Hold size: </div>
  <div><%= workout.hold %></div>
  <div>Set quantity: </div>
  <div><%= workout.set %></div>
  <div>Rep quantity</div>
  <div><%= workout.rep %></div>
  <div>Hang time:</div>
  <div><%= workout.hTime %></div>
  <div>Rest Time:</div>
  <div><%= workout.rTime %></div>
  <div>Created by:</div>
  <div><%= user.name %></div>
  <br>
  <br>
  <h2>Leave a review</h2>
  <% if (user) { %>
    <form id="add-review-form" method="POST" action="/workouts/<%= workout._id %>/reviews">
      <label>Review:</label>
      <textarea name="content"></textarea>
      <label>Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <input type="submit" value="add review">
    </form>
  <% } %>  
  <br>
  <% if (workout.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Review</th>
          <th>Rating</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% workout.reviews.forEach(function(w) {  %>
          <% total += w.rating %>
          <tr>
            <td class="review-user"><img src="<%= w.userAvatar %>"><%= w.userName %></td>
            <td><%= w.content %></td>
            <td><%= w.rating %></td>

            <br>
            <td>
              <% if (user && user._id.equals(w.user)) { %>
                <form action="/reviews/<%= w._id %>? _method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
              <% } %>  
            </td>
            </td>
          </tr>
        <% }) %>  
      </tbody>
    </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  <% } %>  


<%- include('../partials/footer') %>